<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUTO by JH</title>
    <style>
        body {text-align: center; font-family: Arial, Helvetica, sans-serif; background-color: rgba(255, 255, 128, .5);}
    </style>
</head>
<body>
    <h1 style="color: goldenrod;">AUTO by JH </h1>
    <img src="https://cdn.cnn.com/cnnnext/dam/assets/210921182243-20210921-bitcoin-01-gfx-large-169.jpeg" alt="be rich" width="400" height="300"">
    <h3 style="color: goldenrod;">contact: ekdgk98@gmail.com</h3>
</body>
</html>
